<html>
<head>
    <% include ../views/Partials/head %>
</head>
    <body>
        <% include ../views/Partials/buttons %>
        <h1><%= title %></h1>
        <h2><%= subtitle %></h2>
        <p><%= text %></p>

        <footer>
            <% include ../views/Partials/footer %>
        </footer>
        
    </body>
</html>